<h3>Mudar Email</h3>
<form [formGroup]="form" (submit)="save($event)">
    <div class="my-3">
        <!-- 
        // -----------------------------------------------------------------------------------------------------
        // NEW EMAIL
        // ----------------------------------------------------------------------------------------------------- 
        -->
        <p-floatlabel variant="on">
            <input pInputText id="newEmail" formControlName="newEmail" fluid="true" />
            <label class="label-background font-semibold" for="newEmail">Novo Email</label>
        </p-floatlabel>
        <p-message
            *ngIf="form.get('newEmail')?.errors && !form.get('newEmail')?.pristine && form.get('newEmail')?.touched"
            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
            form.get('newEmail')?.errors | errorReader}}</p-message>
    </div>
    <div class="my-3">
        <!-- 
        // -----------------------------------------------------------------------------------------------------
        // CONFIRM NEW EMAIL
        // ----------------------------------------------------------------------------------------------------- 
        -->
        <p-floatlabel variant="on">
            <input pInputText id="confirmNewEmail" formControlName="confirmNewEmail" fluid="true" />
            <label class="label-background font-semibold" for="confirmNewEmail">Confirmar Email</label>
        </p-floatlabel>
        <p-message
            *ngIf="form.get('confirmNewEmail')?.errors && !form.get('confirmNewEmail')?.pristine && form.get('confirmNewEmail')?.touched"
            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
            form.get('confirmNewEmail')?.errors | errorReader}}</p-message>
    </div>
    <div class="my-3">
        <!-- 
        // -----------------------------------------------------------------------------------------------------
        // PASSWORD
        // ----------------------------------------------------------------------------------------------------- 
        -->
        <p-floatlabel variant="on">
            <p-password id="password" formControlName="password" fluid="true" [toggleMask]="true" />
            <label class="label-background font-semibold" for="password">Senha</label>
        </p-floatlabel>
        <p-message
            *ngIf="form.get('password')?.errors && !form.get('password')?.pristine && form.get('password')?.touched"
            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
            form.get('password')?.errors | errorReader}}</p-message>
    </div>
    <div class="my-7 flex flex-row-reverse">
        <p-button class="show-element-md button-min-width-size" type="submit" [disabled]="form.invalid" label="Salvar"
            fluid="false" areaLabel="Salvar"></p-button>
        <p-button class="hide-element-md flex-grow" type="submit" [disabled]="form.invalid" label="Salvar" fluid="true"
            areaLabel="Salvar"></p-button>
    </div>
</form>
<p-confirmdialog />