:root {
    --p-accordion-header-background: transparent;
    --p-accordion-header-hover-background: rgba(206, 206, 206, 0.137);
    
    --p-accordion-header-active-background: transparent;
    --p-accordion-header-active-hover-background: rgba(206, 206, 206, 0.137);

    --p-accordion-header-color: inherit;
    --p-accordion-header-active-color: inherit;
    --p-accordion-header-hover-color: inherit;
    --p-accordion-header-active-hover-color: inherit;

    --p-accordion-content-background: transparent;
    --p-accordion-content-color: inherit;

    --p-accordion-panel-border-width: 0;
}