:root {
    --p-inputtext-background: none;
    --p-inputtext-border-color: white;
    --p-inputtext-color: white;

    --p-textarea-background: none;
    --p-textarea-border-color: white;
    --p-textarea-color: white;

    --p-select-background: none;
    --p-select-border-color: white;
    --p-select-color: white;

    --p-multiselect-background: none;
    --p-multiselect-border-color: white;
    --p-multiselect-color: white;

    --p-fileupload-background: none;
    --p-fileupload-border-color: white;
    --p-fileupload-color: white;
}