:root {
    --p-datatable-header-cell-background: var(--primary-background);
    --p-datatable-header-cell-color: white;
    --p-datatable-header-cell-border-color: white;

    --p-datatable-row-background: none;
    --p-datatable-row-striped-background: rgba(255, 255, 255, 0.150);
    --p-datatable-row-color: white;
    --p-datatable-body-cell-border-color: white;
}