<form [formGroup]="form" (submit)="save()">
    <div class="flex md:flex-row flex-col">
        <!-- 
                // -----------------------------------------------------------------------------------------------------
                // INPUT SELECT USER TYPE
                // ----------------------------------------------------------------------------------------------------- 
                -->
        <div>
            <p-floatlabel class="w-full md:w-56" variant="on">
                <p-select formControlName="type" inputId="type" [options]="userTypes" optionLabel="type"
                    optionValue="value" optionDisabled="disabled" class="w-full" />
                <label class="label-background font-semibold" for="type">Tipo do Usuário</label>
            </p-floatlabel>
            <p-message *ngIf="form.get('type')?.errors && !form.get('type')?.pristine && form.get('type')?.touched"
                severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
                form.get('type')?.errors | errorReader}}</p-message>
        </div>
    </div>
    <div class="my-3">
        <!-- 
            // -----------------------------------------------------------------------------------------------------
            // INPUT USER NAME
            // ----------------------------------------------------------------------------------------------------- 
            -->
        <p-floatlabel variant="on">
            <input pInputText id="name" formControlName="name" fluid="true" />
            <label class="label-background font-semibold" for="name">Nome Completo</label>
        </p-floatlabel>
        <p-message *ngIf="form.get('name')?.errors && !form.get('name')?.pristine && form.get('name')?.touched"
            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
            form.get('name')?.errors | errorReader}}</p-message>
    </div>
    <div class="my-3">
        <!-- 
            // -----------------------------------------------------------------------------------------------------
            // INPUT CPF NAME
            // ----------------------------------------------------------------------------------------------------- 
            -->
        <p-floatlabel variant="on">
            <input mask="000.000.000-00||00.000.000/0000-00" pInputText id="cpf" formControlName="cpf" fluid="true" />
            <label class="label-background font-semibold" for="cpf">CPF</label>
        </p-floatlabel>
        <p-message *ngIf="form.get('cpf')?.errors && !form.get('cpf')?.pristine && form.get('cpf')?.touched"
            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
            form.get('cpf')?.errors | errorReader}}</p-message>
    </div>
    <div class="my-3">
        <!-- 
            // -----------------------------------------------------------------------------------------------------
            // INPUT BIRTH DATE
            // ----------------------------------------------------------------------------------------------------- 
            -->
        <p-floatlabel variant="on">
            <p-datepicker inputId="birth" formControlName="birth" showIcon iconDisplay="input" dateFormat="dd.mm.yy"
                [showClear]="true" [maxDate]="maxDate" fluid="true" />
            <label class="label-background font-semibold" for="birth">Nascimento</label>
        </p-floatlabel>
        <p-message *ngIf="form.get('birth')?.errors && !form.get('birth')?.pristine && form.get('birth')?.touched"
            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
            form.get('birth')?.errors | errorReader}}</p-message>
    </div>
    <div class="my-3">
        <!-- 
            // -----------------------------------------------------------------------------------------------------
            // INPUT EMAIL
            // ----------------------------------------------------------------------------------------------------- 
            -->
        <p-floatlabel variant="on">
            <input pInputText id="email" formControlName="email" fluid="true" />
            <label class="label-background font-semibold" for="email">Email</label>
        </p-floatlabel>
        <p-message *ngIf="form.get('email')?.errors && !form.get('email')?.pristine && form.get('email')?.touched"
            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
            form.get('email')?.errors | errorReader}}</p-message>
    </div>
    <div class="my-3">
        <!-- 
            // -----------------------------------------------------------------------------------------------------
            // INPUT PHONE NUMBER
            // ----------------------------------------------------------------------------------------------------- 
            -->
        <p-floatlabel variant="on">
            <input mask="(00) 0000-0000||(00) 0 0000-0000" pInputText id="phone" formControlName="phone" fluid="true" />
            <label class="label-background font-semibold" for="phone">Telefone</label>
        </p-floatlabel>
        <p-message *ngIf="form.get('phone')?.errors && !form.get('phone')?.pristine && form.get('phone')?.touched"
            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
            form.get('phone')?.errors | errorReader}}</p-message>
    </div>
    <!-- 
        // -----------------------------------------------------------------------------------------------------
        // INPUT ADDRESS
        // ----------------------------------------------------------------------------------------------------- 
        -->
    <app-multifield-panel title="Endereços" buttonLabel="Adicionar Endereço" (eventButton)="addAddressField()">
        <ng-container *ngIf="form.get('addresses')" formArrayName="addresses">
            <div class="address-pane" *ngFor="let address of addressArray.controls; index as i">
                <div class="mb-5 ms-3">
                    Endereço {{i + 1}}
                </div>
                <div class="close-button">
                    <p-button size="small" icon="pi pi-times" (click)="removeAddressField(i)" [outlined]="true"
                        [rounded]="true" severity="danger" areaLabel="Remover opção de endereço." />
                </div>
                <div [formGroupName]="i">
                    <!-- CEP -->
                    <div class="m-3">
                        <p-floatlabel variant="on">
                            <input mask="00000-000" pInputText id="cep" formControlName="cep" fluid="true"
                                (input)="getDelayedAddress($event, i)" />
                            <label class="label-background font-semibold" for="cep">CEP</label>
                        </p-floatlabel>
                        <p-message
                            *ngIf="form.get('cep')?.errors && !form.get('cep')?.pristine && form.get('cep')?.touched"
                            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
                            form.get('cep')?.errors | errorReader}}</p-message>
                    </div>

                    <div class="m-3 flex md:flex-row flex-col gap-3">
                        <!-- STREET -->
                        <div class="flex-auto">
                            <p-floatlabel variant="on">
                                <input pInputText id="street" formControlName="street" fluid="true" />
                                <label class="label-background font-semibold" for="street">Rua</label>
                            </p-floatlabel>
                            <p-message
                                *ngIf="form.get('street')?.errors && !form.get('street')?.pristine && form.get('street')?.touched"
                                severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
                                form.get('street')?.errors | errorReader}}</p-message>
                        </div>
                        <!-- NUMBER -->
                        <div>
                            <p-floatlabel variant="on">
                                <input pInputText id="number" formControlName="number" fluid="true" />
                                <label class="label-background font-semibold" for="number">Número</label>
                            </p-floatlabel>
                            <p-message
                                *ngIf="form.get('number')?.errors && !form.get('number')?.pristine && form.get('number')?.touched"
                                severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
                                form.get('number')?.errors | errorReader}}</p-message>
                        </div>
                    </div>
                    <!-- COMPLEMENT -->
                    <div class="m-3">
                        <p-floatlabel variant="on">
                            <input pInputText id="complement" formControlName="complement" fluid="true" />
                            <label class="label-background font-semibold" for="complement">Complemento</label>
                        </p-floatlabel>
                        <p-message
                            *ngIf="form.get('complement')?.errors && !form.get('complement')?.pristine && form.get('complement')?.touched"
                            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
                            form.get('complement')?.errors | errorReader}}</p-message>
                    </div>
                    <!-- NEIGHBORHOOD -->
                    <div class="m-3">
                        <p-floatlabel variant="on">
                            <input pInputText id="neighborhood" formControlName="neighborhood" fluid="true" />
                            <label class="label-background font-semibold" for="neighborhood">Biarro</label>
                        </p-floatlabel>
                        <p-message
                            *ngIf="form.get('neighborhood')?.errors && !form.get('neighborhood')?.pristine && form.get('neighborhood')?.touched"
                            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
                            form.get('neighborhood')?.errors | errorReader}}</p-message>
                    </div>
                    <!-- CITY -->
                    <div class="m-3">
                        <p-floatlabel variant="on">
                            <input pInputText id="city" formControlName="city" fluid="true" />
                            <label class="label-background font-semibold" for="city">Cidade</label>
                        </p-floatlabel>
                        <p-message
                            *ngIf="form.get('city')?.errors && !form.get('city')?.pristine && form.get('city')?.touched"
                            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
                            form.get('city')?.errors | errorReader}}</p-message>
                    </div>
                    <!-- STATE -->
                    <div class="m-3">
                        <p-floatlabel variant="on">
                            <input pInputText id="state" formControlName="state" fluid="true" />
                            <label class="label-background font-semibold" for="state">Estado</label>
                        </p-floatlabel>
                        <p-message
                            *ngIf="form.get('state')?.errors && !form.get('state')?.pristine && form.get('state')?.touched"
                            severity="error" size="small" variant="simple" icon="pi pi-exclamation-triangle">{{
                            form.get('state')?.errors | errorReader}}</p-message>
                    </div>
                </div>
            </div>
        </ng-container>
    </app-multifield-panel>
    <div class="my-7 flex flex-row-reverse">
        <p-button class="show-element-md button-min-width-size" type="submit" [disabled]="form.invalid" label="Salvar"
            fluid="false" areaLabel="Salvar"></p-button>
        <p-button class="hide-element-md flex-grow" type="submit" [disabled]="form.invalid" label="Salvar" fluid="true"
            areaLabel="Salvar"></p-button>
    </div>
</form>