<p-table [value]="items" stripedRows [scrollable]="scrollable" [scrollHeight]="scrollHeight" dataKey="id" editMode="row"
    [size]="size" [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
        <tr>
            <ng-template *ngIf="columnsWidth.length > 0; then withWidth else default"></ng-template>
            <ng-template #withWidth>
                <th *ngFor="let col of columns; index as i" [ngStyle]="{'width': columnsWidth[i] + '%'}">{{col}}</th>
                <th [ngStyle]="{'width': columnsWidth[columnsWidth.length -1] + '%'}"></th>
            </ng-template>
            <ng-template #default>
                <th *ngFor="let col of columns">{{col}}</th>
                <th></th>
            </ng-template>
            <!-- <th style="width:12%">ID</th>
            <th style="width:32%">Nome</th>
            <th style="width:22%">Tipo</th>
            <th style="width:22%">Quantidade</th> -->
        </tr>
    </ng-template>
    <ng-template #body let-material let-ri="rowIndex">
        <tr>
            <td *ngFor="let col of columns; index as i">
                {{material[col] | showDate:isShowTimeInDateColumn}}
            </td>

            <!-- <td>
                <p-cellEditor>
                    <ng-template #input>
                        <input pInputText type="text" [(ngModel)]="material.id" />
                    </ng-template>
                    <ng-template #output>
                        {{material.id}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template #input>
                        <input pInputText type="text" [(ngModel)]="material.name" required />
                    </ng-template>
                    <ng-template #output>
                        {{material.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template #input> -->
            <!-- <p-select [options]="types" appendTo="body" [(ngModel)]="material.type"
                            [style]="{'width':'100%'}" /> -->
            <!-- </ng-template>
                    <ng-template #output>
                        {{material.type}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template #input>
                        <input pInputText type="text" [(ngModel)]="material.quantity" />
                    </ng-template>
                    <ng-template #output>
                        {{material.quantity}}
                    </ng-template>
                </p-cellEditor>
            </td> -->
            <td>
                <div class="flex items-center justify-center gap-2">
                    <!-- <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onRowEditInit(material)" text rounded severity="secondary"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(material)" text rounded severity="secondary"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(material, ri)" text rounded severity="secondary"></button> -->
                    <button pButton pRipple type="button" icon="pi pi-pencil"
                        text rounded severity="secondary" (click)="onRowEdit(material)"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>