.sidebar-pane {
    position: fixed;
    left: 0;
    z-index: 3;
    width: 320px;
    height: calc(100vh - 108px);
    background-color: var(--secondary-background);

    transition: all 0.5s ease 0s;
}

.show-sidebar {
  transform: translateX(0);
  opacity: 1;
}

.hide-sidebar {
  transform: translateX(-310px);
  opacity: 0;
}

.block-pane {
    position: fixed;
    left: 0;
    z-index: 2;
    background-color: rgba(48, 47, 47, 0.199); 
    height: calc(100vh - 108px); 
    width: 100%;
}
